<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="klsd.kuangkuang" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/androidicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".main.MainActivity" />
        <activity android:name=".main.EnterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.LoginActivity" />
        <activity android:name=".main.SignupActivity" />
        <activity android:name=".main.M_SetActivity" />
        <activity android:name=".main.M_PersonalDataActivity" />
        <activity android:name=".main.M_AboutUsActivity" />
        <activity android:name=".main.M_AdminManagerActivity" />
        <activity android:name=".main.M_NewPhoneActivity" />
        <activity android:name=".main.M_NewPhoneProActivity" />
        <activity android:name=".main.M_ChangePsdActivity" />
        <activity android:name=".main.M_ScoreRuleActivity" />
        <activity android:name=".main.M_FeedBackActivity" />
        <activity android:name=".main.M_MyMessageActivity" />
        <activity android:name=".main.ForgetPsdActivity" />
        <activity android:name=".main.S_ArticleActivity" />
        <activity android:name=".main.LogoActivity" />
        <activity android:name=".main.S_AllCommentActivity" />
        <activity android:name=".main.M_MyCollectActivity" />
        <activity android:name=".main.S_TopTenActivity" />
        <activity
            android:name=".main.C_ReleaseWordActivity"
            android:launchMode="singleTask" />
        <activity android:name=".testpic.TestPicActivity" />
        <activity android:name=".testpic.ImageGridActivity" />
        <activity android:name=".testpic.PhotoActivity" />
        <activity android:name=".main.ImagePagerActivity" />
        <activity android:name=".main.M_CircleDetailActivity" />
        <activity android:name=".main.C_CircleAllCommentActivity" />
        <activity android:name=".main.ImagePager123Activity" />
        <activity android:name=".main.M_BlackListActivity" />
        <activity android:name=".main.S_VideoActivity" >
        </activity>
        <activity android:name=".main.M_FollowListActivity" >
        </activity>
    </application>

</manifest>
